<footer class="footer cf">
    <ul class="ulist ulist--footer text-center">
        <li class="ulist__listitem"><a class="ulist__link" href="imprint.html" target="_blank">Impressum</a></li>
        <li class="ulist__listitem"><a class="ulist__link" href="datenschutz.html" target="_blank">Datenschutz</a></li>
    </ul>
</footer>
