<section id="home" class="home parallax" data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -200px;"
         data-anchor-target="#home">

    <ul class="ulist ulist--social">
        <li class="ulist__listitem">
            <a href="http://blog.creinartz.de" target="_blank"><i class="dribbble fa fa-wordpress"></i></a>
        </li>
        <li class="ulist__listitem">
            <a href="http://twitter.com/pistenprinz" target="_blank"><i class="twitter fa fa-twitter"></i></a>
        </li>
        <li class="ulist__listitem">
            <a href="https://github.com/creinartz" target="_blank"><i class="mail fa fa-github"></i></a>
        </li>
    </ul>
    <div class="hero" data-center="bottom: 200px; opacity: 1"
         data-top="bottom: 1500px; opacity: 0"
         data-anchor-target="#home h1">
        <h1>Frontend Developer</h1>
        <h2>UI/UX Engineer</h2>
    </div>


</section>



<section id="about" class="about csscv">

    <h1 class="comment-block  spaced--large">
        <span class="comment-block__line">Hi there, I’m Christoph. I am a Front-end Developer, CSS-Architect,</span>
        <span class="comment-block__line">aspiring writer and upcoming speaker from Germany.</span>
    </h1>

    <h2 class="comment-block">
        <span class="comment-block__line">About me</span>
    </h2>

    <div class="ruleset">

        <h3 class="selector">Me</h3>

        <dl class="declarations">

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">Christoph Reinartz</span></dd>

            <dt class="property">Job</dt>
            <dd class="value"><span class="string">Front-end Developer</span></dd>

            <dt class="property">Location</dt>
            <dd class="value"><span class="string">Mönchengladbach, GER</span></dd>

            <dt class="property">Skills</dt>
            <dd class="value">
                <ul class="value-list">
                    <li><span class="string">Front-end Architecture</span></li>
                    <li>Development</li>
                    <li>Performance</li>
                    <li><span class="string">Responsive Web Design</span></li>
                    <li>Git</li>
                    <li>Speaking</li>
                    <li>Writing</li>
                    <li>Agile</li></ul></dd>

        </dl>

    </div>

    <div class="ruleset">

        <h3 class="selector"><span class="element" data-namespace="me">Contact</span></h3>

        <dl class="declarations">

            <dt class="property">Email</dt>
            <dd class="value"><a href="mailto:chef@creinartz.de">chef@creinartz.de</a></dd>

            <dt class="property">Blog</dt>
            <dd class="value"><span class="url"><a href="http://blog.creinartz.de" target="_blank">blog.creinartz.de</a></span></dd>

            <dt class="property">GitHub</dt>
            <dd class="value"><span class="url"><a href="https://github.com/creinartz/" target="_blank">github.com/creinartz</a></span></dd>

            <dt class="property">Twitter</dt>
            <dd class="value"><a href="https://twitter.com/pistenprinz" target="_blank">@pistenprinz</a></dd>

            <dt class="property">LinkedIn</dt>
            <dd class="value"><span class="url"><a href="http://www.linkedin.com/pub/christoph-reinartz/73/10b/57b" target="_blank">Profile on linkedin</a></span></dd>

            <dt class="property">Xing</dt>
            <dd class="value"><span class="url"><a href="http://www.xing.com/profiles/Christoph_Reinartz2" target="_blank">Profile on Xing</a></span></dd>

        </dl>

    </div>

    <h2 class="comment-block">
        <span class="comment-block__line">Career and work</span>
    </h2>

    <div class="ruleset">
        <h3 class="selector">Job</h3>
        <dl class="declarations">
            <dt class="property">Title</dt>
            <dd class="value"><span class="string">Front-end Developer</span></dd>
            <dt class="property">Services</dt>
            <dd class="value">
                <ul class="value-list">
                    <li>Development</li>
                    <li>Consultancy</li></ul></dd>
        </dl>

    </div>

    <div class="ruleset spaced--large">
        <h4 class="selector"><span class="modifier" data-namespace="job">current</span></h4>
        <dl class="declarations">
            <dt class="property">Company</dt>
            <dd class="value"><span class="string">trivago GmbH</span></dd>

            <dt class="property">Title</dt>
            <dd class="value"><span class="string">UX Engineer Front-End, Tech & Team Lead UI-Engineering</span></dd>

            <dt class="property">Responsibilities</dt>
            <dd class="value">
                <ul class="value-list">
                    <li><span class="string">Coordination UI-Development</span></li>
                    <li>Development</li>
                    <li><span class="string">Front-end Architecture</span></li>
                    <li><span class="string">Tech & Team Lead UI</span></li>
                </ul></dd>

        </dl>

    </div>
</section>
<section id="speaker" class="speaker" data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -200px;"
         data-bottom-top="background-position: 50% 200px;"
         data-anchor-target="#speaker">
    <div class="hero" data-center="bottom: 200px; opacity: 1"
         data-top="bottom: 1500px; opacity: 0"
         data-anchor-target="#speaker .hero">
        <h1>Speaker</h1>
    </div>

</section>

<section id="about-2" class="about csscv">


    <h2 class="comment-block">
        <span class="comment-block__line">Talks & presentations</span>
    </h2>

    <div class="ruleset">

        <h3 class="selector"><span class="modifier" data-namespace="RWD">PHPUG</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://de.slideshare.net/ChristophReinartz/was-nicht-passt-wird-responsive-gemacht" target="_blank">Slides</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">April, 2014</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">PHP Usergroup Düsseldorf</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">Was nicht passt wird responsive gemacht!</span></dd>

        </dl>

    </div>

    <div class="ruleset ">

        <h3 class="selector"><span class="modifier" data-namespace="RWD">OTSD</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://de.slideshare.net/ChristophReinartz/was-nicht-passt-wird-responsive-gemacht-extended-edition" target="_blank">Slides</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">September, 2014</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">Learners Meetup Open Tech School Dortmund</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">Was nicht passt wird responsive gemacht! Extended Edition</span></dd>

        </dl>

    </div>

    <div class="ruleset">

        <h3 class="selector"><span class="modifier" data-namespace="RWD">codetalks</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://de.slideshare.net/ChristophReinartz/rwd-codetalks-40130867" target="_blank">Slides</a></span></dd>

            <dt class="property">Video</dt>
            <dd class="value"><span class="url"><a href="https://www.youtube.com/watch?v=liOimoQSrxU" target="_blank">Video</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">October, 2014</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">Code.talks 2014 Conference Hamburg</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">Was nicht passt wird responsive gemacht! Conference Edition</span></dd>

        </dl>

    </div>

    <div class="ruleset">

        <h3 class="selector"><span class="modifier" data-namespace="flexbox">trivago</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://creinartz.github.io/flexbox-unleashed/" target="_blank">Slides</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">February, 2015</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">trivago GmbH</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">CSS3 flexbox - flexbox unleashed</span></dd>

        </dl>

    </div>
    <div class="ruleset">

        <h3 class="selector"><span class="modifier" data-namespace="css3-grid-and-flexbox">PottJS</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://creinartz.github.io/css-grid-flexbox/" target="_blank">Slides</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">March, 2015</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">PottJS - Bochum</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">CSS3 Grid & Flexbox - Next generation layouts</span></dd>

        </dl>

    </div>

    <div class="ruleset ">

        <h3 class="selector"><span class="modifier" data-namespace="about-consistency">leanuxdus</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://de.slideshare.net/ChristophReinartz/aboutconsistency-lesson-learned" target="_blank">Slides</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">May, 2015</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">LeanUX Düsseldorf</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">about:consistency - lessons learned the hard way</span></dd>

        </dl>

    </div>

    <div class="ruleset  spaced--large">

        <h3 class="selector"><span class="modifier" data-namespace="Project-ironman-large-scale-refactoring-at-trivago">OTSD</span></h3>

        <dl class="declarations">

            <dt class="property">Slides</dt>
            <dd class="value"><span class="url"><a href="http://de.slideshare.net/ChristophReinartz/project-ironman-large-scale-refactoring-trivago" target="_blank">Slides</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">Jan, 2016</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">OpenTechSchool Dortmund</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">Project Ironman - Large Scale Refactoring @trivago</span></dd>

        </dl>

    </div>

    <h2 class="comment-block">
        <span class="comment-block__line">Articles & publications</span>
    </h2>

    <div class="ruleset  spaced--large">

        <h3 class="selector"><span class="modifier" data-namespace="Designing-for-RTL-platforms">trivago</span></h3>

        <dl class="declarations">

            <dt class="property">Article</dt>
            <dd class="value"><span class="url"><a href="http://tech.trivago.com/2015/04/27/right-to-left/" target="_blank">Article</a></span></dd>

            <dt class="property">When</dt>
            <dd class="value"><span class="string">April, 2015</span></dd>

            <dt class="property">Where</dt>
            <dd class="value"><span class="string">trivago tech blog</span></dd>

            <dt class="property">Name</dt>
            <dd class="value"><span class="string">Designing for RTL platforms - A flipped layout</span></dd>

        </dl>

    </div>

</section>